@media only screen and (min-width: 40em){

    header{
        position: relative;
        width: 100%;
        display: flex;
        background-color: var(--primary-color);
        align-items: center;
        padding: 1rem ;
        box-shadow: 0px -70px 30px 50px  black;
        justify-content: space-between; 
    }
    
    #logo{
        display: flex;
        width: 75px;
        height: 75px;
    }
    
    header img:hover{
        display: flex;
        width: 100px;
        height: auto;
        cursor: pointer;
    }

    #text-logo{
        display: flex;
        width: auto;
        color: var(--secondary-color);
        margin-left: 0.5rem;
        margin-right: 2rem;
        font-size: xx-large;
        font-weight: 700;
        text-align: left;
        font-family: "Cinzel", serif;
    }
    
    header > a{
        width: auto;
        display: flex;
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
    }

    #light-dark{
        margin-left: auto;
    }

    #light-dark::before{
        content: "☀️";
        font-size: 2rem;
        text-align: right;
    }
    
    #menu.hide::before{
        display: none;
        content: "≡";
        font-size: 42px;
        margin-left: 1.5rem;
        text-align: center;
        
    }

    #menu.show::before{
        display: none;
        content: "x";
        font-size: 42px;
        margin-left: 1.5rem;
        text-align: center;
    }
    
    #navigation{
        width: auto;
        padding: 0 1rem;
        max-height: 500px;
        opacity: 1;
    }
    
    #navigation a{
        display: flex;
        width:100%;
        height: 100%;
        text-decoration: none;
        align-items: center;
        font-weight: 700;
        
    }
    
    #navigation ul.hide{
        display: flex;
        width: auto;
        list-style: none;
        gap: 1rem;
    }
    
    #navigation ul li{
        display: flex;
        align-items: center;
    }
    
    
    #navigation li a:hover{
        color: var(--accent-color);
    }

    main{
        margin: 2rem;
    }
    #business-list-card.show{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        margin: 2rem;
        gap: 1rem;
    }

    .business-card{
        display: flex;
        box-sizing: border-box;
        width: 100%;
        height: 35rem;
        flex-direction: column;
        gap: 0.5rem;
        background-color: var(--primary-color);
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    }

    .business-card img{
        max-width: 200px;
        max-height: 200px;
        
    }

    
    #business-list-card{
        display: none;
    }

    #business-list-table.show{
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color);
        border: 0;
        border-collapse: collapse;

    }

    #business-list-table.show tr:nth-child(even){
        background-color: rgb(233, 230, 251);
        border: 0;
        border-collapse: collapse;
    }

    #business-list-table.show tr{
        display:flex;
        flex-wrap: wrap;
        height: 7rem;
        width: 100%;
        align-items: center;
        padding: 0 3rem;
        gap: 1rem;
        justify-content: space-between;
        text-align: left;
    }

    #business-list-table.show td{
        width: 20%;
        font-size: medium;
    }

    #business-list-table.show td:last-of-type{
        width: 10%;
        font-size: medium;
    }

    #business-list-table a{
        text-decoration: none;
        color: var(--accent-color);
        margin-bottom: 2rem;
    }

}